.logo {
    background-color:#fff;
    text-align: center;
    margin: 20px,0,20px,0;
    height: 150px;
}

.logo img {
    max-width: 100%;
}

body {
    background-color:aqua
}
h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}

nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

section {
    padding: 20px;
}

/* Estilize o campo de busca conforme necessário */
input[type="text"] {
    padding: 8px;
    width: 200px;
}

/* Estilize os itens do menu conforme necessário */
nav a {
    margin: 0 10px;
    text-decoration: none;
   
    font-weight: bold;
}

/* Estilize o link ativo */
nav a.active {
    color: #0066cc;
}

/*.sidebar nav ul li a:hover {
    color: #ffffff;
}*/
.videos__container {
    display: flex;
    flex-wrap: wrap; /* Quebra a linha quando não houver mais espaço */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    gap: 50px;
    justify-items: center;
}
  
  .videos__row {
    display: flex;
    width: 100%; /* Garante que as linhas ocupem toda a largura disponível */
  }